extends ../layout

block content
    h2 #{serie.nombre}
    p  ¿Esta seguro que quiere borrar esta serie ?
    div
        hr
        dl(class="dl-horizontal")
            dt Nombre
            dd #{serie.nombre}

            dt Fecha de Estreno
            dd #{serie.fechaEstreno}

            dt ¿Está en emisíon?
            dd
                if serie.enEmision
                    span(class="label label-success") En emision
                else
                    span(class="label label-danger") Finalizada
            dt Género
            dd #{serie.genero}

        div
            form(action='/series/delete/' + serie.serieID + '?_method=DELETE' method='POST')
                div(class="form-group form-options")
                    input(type="submit" value="Borrar" class="btn btn-danger")
                    a(class='btn btn-default' href='/series/details/' + serie.serieID) Cancelar

