doctype html
html(lang="es")
    head
        title=title

        //Bootstrap
        link(href="plugins/bootstrap-4.0.0/css/bootstrap.min.css", rel="stylesheet")

        //Font awesome
        link(href="plugins/font-awesome/css/font-awesome.css", rel="stylesheet")

        //App css
        link(href="css/app.css", rel="stylesheet")

    body
        h1 debe ir navbar
        hr

        block content

        hr
        footer(class='text-center')
            p
                | Mateo
                | Sebastían
                | Jimmy

        //Jquery
        script(src="js/jquery-3.2.1.js")

        //Bootstrap
        script(src="plugins/tether/tether.min.js")
        script(src="plugins/bootstrap-4.0.0/js/bootstrap.min.js")