doctype html
html(lang="es")
    head
        title=title

        //Bootstrap
        link(href="/plugins/bootstrap-3.3.7/css/bootstrap.min.css", rel="stylesheet")

        //Font awesome
        link(href="/plugins/font-awesome/css/font-awesome.css", rel="stylesheet")

        //DataTables
        link(href="/plugins/DataTables-1.10.15/css/dataTables.bootstrap.css", rel="stylesheet")

        //App css
        link(href="/css/effects.css", rel="stylesheet")
        link(href="/css/app.css", rel="stylesheet")

    body
        include navbar
        div(class='container big-top-space')
            block content


            div(class='col-xs-12')
                hr
                footer(class='text-center')
                    p
                        | Mateo
                        | Sebastían
                        | Jimmy

        //Jquery
        script(src="/js/jquery-3.2.1.js")

        //App
        script(src="/js/seriesScript.js")
        script(src="/js/capitulosScript.js")

        //DataTables
        script(src="/plugins/DataTables-1.10.15/js/jquery.dataTables.js")
        script(src="/plugins/DataTables-1.10.15/js/dataTables.bootstrap.js")



        //Bootstrap
        script(src="/plugins/bootstrap-3.3.7/js/bootstrap.min.js")