/* Tag Class*/
footer > p {
    white-space: pre;
}

body {
    background-color: #333;
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

dd {
    display: block;
    -webkit-margin-start: 40px;
}

div.options a{
    padding-left: 2em;
}

li a.nav-link i{
    padding-right: .5em;
}
/* ID Class*/

/* Class*/
.serie-item {
    height: 300px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.serie-item img {
    width: 100%;
    height: 100%;
}

.top-space {
    padding-top: 1em;
}
.big-top-space {
    padding-top: 5em;
}

.tablaTemporadas tbody tr:hover {
    background-color: darkslategray;
}

.form-options a{
    margin: 2em;
}

.reproductor iframe{
    width: 100%;
    height: 300px;
}